notebooks/04_MLP_Dense_Neural.py
notebooks/rough.ipynb
notebooks/01_baseline_svm.ipynb
notebooks/04_MLP_Dense_Neural_Final.py
notebooks/05_CodeBERT_LR.py
notebooks/06_CodeBERT_MLP.py

models

utils

data/data_analysis.ipynb
data/diversevul_20230702.json
